@media (max-width: 700px){
  .search_selector {
    text-align: left;
    button {
      height: 40px;
      font-size: 11px;
      background-color: #0064ff63;
    }
  }
}

@media (min-width: 701px) {
  .search_selector {
    text-align: right;
    font-size: 20px;
    button {
      background-color: #0064ff63;
    }
    button:hover {
      cursor: pointer;
      color: #1205c2;
      background-color: rgba(28, 127, 241, 0.24);
    }
  }
}

.search_selector {
  margin: 20px;
  button {
    border: none;
    margin: 5px;
  }
}
